
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    height: 500px;
    padding-bottom: 150px;
    display: flex;
    
}

.half-width{
    width: 80%;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mymiss{
    text-align: center;
}
.vb{
    text-align: center;
}
.vb h1{
    color: #f42a41
    ;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 60%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}



.mission-area{
    display: flex;
    background-position: left;
    border-radius: ;
    margin: inherit;
}
.mission-area h3{
    color: orange;
}

.mission-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    margin-left: 10%;
    border-radius: 10px;
    background-color: rgb(219, 255, 255);
    padding: auto;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 10px;
    background-color: rgb(253, 255, 158);
    padding: auto;
}

#cry-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(200, 255, 0), rgb(0, 255, 136));
    border-image-slice: 1;
    border-radius: 10px;
    margin-right: 10%;
    background-color: rgb(238, 255, 176);
}
footer p{
    text-align: center;
}

#develop-area{
    margin-left: 5%;
    margin-right: 5%;
}


#community-area{
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    text-align: center;
    background-color: rgb(255, 193, 193);
    padding: 40px;
}

#bangladesh-area{
    margin-left: 5%;
    margin-right: 5%;
}

#dag {
   border-left: 5px solid;
   border-image: linear-gradient(rgb(20, 230, 20),rgb(255, 5, 5));
   border-image-slice: 1;
   
}

#komol1{
    color: tomato;
}